$primary: #519bd0;
$white: #ffffff;
$black: #000000;
$light-grey: #b0b0b0;
$light-grey-2: #f5f5f5;
$light-green: #9bdd7c;
$disabled-day: #fff2d9;
$route-full-capacity: #dfdfdf;
$grey: #666666;
$secondary-text: #858585;
$background-color: #f5f5f5;
$booked-day: #27ae60;
$out-of-frecuency: #c0392b;
$out-of-month: #9c8d8d;
